*.class

# Package Files #
*.jar
*.war
*.ear
/LevelCreater/.metadata/.log
/LevelCreater/.metadata/.mylyn/repositories.xml.zip
/LevelCreater/.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/LevelCreater/.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
/LevelCreater/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/LevelCreater/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/LevelCreater/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/LevelCreater/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.3.0.20130129-0926.xml
/LevelCreater/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml
/LevelCreater/.metadata/.plugins/org.eclipse.rse.core/.log
/LevelCreater/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
/LevelCreater/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.simon-pc_131/FP.local.files_0/node.properties
/LevelCreater/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.simon-pc_131/H.local_16/node.properties
/LevelCreater/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.simon-pc_131/node.properties
/LevelCreater/.metadata/.plugins/org.eclipse.rse.ui/.log
/LevelCreater/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_gwt.png
/LevelCreater/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swing.png
/LevelCreater/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swt.png
/LevelCreater/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_xwt.png
/LevelCreater/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkits.xml
